<template>
	<ion-page>
		<ion-header :translucent="true">
			<ion-toolbar>
				<ion-title>Theme Test</ion-title>
			</ion-toolbar>
		</ion-header>

		<ion-content :fullscreen="true">
			<ion-header collapse="condense">
				<ion-toolbar>
					<ion-title size="large">Theme Test</ion-title>
				</ion-toolbar>
			</ion-header>

			<div id="container">
				<p class="ion-margin ion-padding">
					<ion-button @click="openAlert">Open Alert</ion-button>
				</p>
				<p class="ion-margin ion-padding">
					<ion-button @click="showPrompt">Open Prompt</ion-button>
				</p>

				<p class="ion-margin ion-padding">
					<label>Pick date</label>
					<input type="date" value="Pick Date" />
				</p>
				<p class="ion-margin ion-padding">
					<label>Pick time</label>
					<input type="time" value="Pick Time" />
				</p>
				<p class="ion-margin ion-padding">
					<input type="color" name="color" id="color" />
				</p>
			</div>
		</ion-content>
	</ion-page>
</template>

<script>
import { Plugins, CameraResultType, CameraSource } from "@capacitor/core";
const { Camera, Filesystem } = Plugins;

import {
	IonButton,
	IonContent,
	IonHeader,
	IonPage,
	IonTitle,
	IonToolbar
} from "@ionic/vue";

export default {
	name: "Home",
	components: {
		IonContent,
		IonHeader,
		IonPage,
		IonTitle,
		IonToolbar,
		IonButton
	},
	data() {
		return {
			filepath: ""
		};
	},
	methods: {
		openAlert() {
			alert("Alert");
		},

		async showPrompt() {
			prompt("Prompt");
		},

		async takePhoto() {
			console.log("taking photo");
			const image = await Camera.getPhoto({
				quality: 50,
				source: CameraSource.Camera,
				resultType: CameraResultType.Uri,
				allowEditing: false
			});

			this.filepath = image.path;

			console.log(image);
		},

		async deletePhoto() {
			if (this.filepath) {
				await Filesystem.deleteFile({
					path: this.filepath,
					directory: ""
				});
			} else {
				alert("Take a photo first");
			}
		}
	}
};
</script>

<style scoped>
#container {
	text-align: center;

	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

#container strong {
	font-size: 20px;
	line-height: 26px;
}

#container p {
	font-size: 16px;
	line-height: 22px;

	color: #8c8c8c;

	margin: 0;
}

#container a {
	text-decoration: none;
}
</style>